<label for="">Server name</label>
<!-- 31.Passing and Using Data with Event Binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- 33.Two Way Databinding: use [(ngModel)]="" to update property "serverName"; furthermore, if I change the "serverName" property (runtime) the input name also changes (to see that use the above input form)-->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<!-- 33.Two Way Databinding: by [(ngModel)]="" the property "serverName" is updated below too -->
<p>{{ serverName }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
