<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- 34. Combining all forms of Databinding:  -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- 37. Directives: Using ngIf to Output Data Conditionally -->
<p *ngIf="serverCreated">
  Server was created, server name is: {{ serverName }}
</p>

<hr />

<app-server></app-server>
<app-server></app-server>
