<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hard coding from: AppComponent...</h3>
      <hr />
      <app-servers></app-servers>

      <button (click)="onToggleDisplay()" class="btn btn-primary">
        Display details
      </button>
      <p *ngIf="showSecret">Secret psw = 123</p>
      <div
        *ngFor="let logItem of log; let i = index"
        [ngStyle]="
          i >= 4
            ? { 'background-color': 'blue' }
            : { 'background-color': 'transparent' }
        "
        [ngClass]="i >= 4 ? 'white' : ''"
      >
        {{ logItem }}
      </div> <!-- Aggiunto a *ngFor l'estrapolazione dell'indice ("let i = index" oppure usare la sintassi "index as i") per effettuare check: "i >= 5" anzichè "logItem >= 5" il quale darebbe come valore sempre true in quanto la "string" è sempre maggiore di 5, mentre se fosse "number" il controllo sarebbe attendibile -->
    </div>
  </div>
</div>
